.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    width:33%;
    height: 33%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form .element{
    margin-top: 0.5rem;
}
.strength-bar{
    display: flex;
    height: 0.5rem;
    justify-content: space-between;
    gap:0.1rem;
}