<div class="container">
    <form class="form" [formGroup]="formGroup">
        <label for="password">Enter your password:</label>
        <input class="element" type="password" id="password" formControlName="password">
        <span class="element strength-bar">
            <div class="section" [ngClass]="{'gray': strength == 0, 'red': strength == 1, 
            'orange': strength == 2, 'green': strength == 3}"></div>
            <div class="section" [ngClass]="{'gray': strength >= 0 && strength <= 1, 'orange': strength == 2, 
            'green': strength == 3}"></div>
            <div class="section" [ngClass]="{'gray': strength >= 0 && strength <= 2, 'green': strength == 3}"></div>
        </span>
    </form>
</div>