body{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.gray{
    background-color: lightgray;
}